In [1]:
import pandas as pd

In [7]:
x = pd.DataFrame({ 'RollNo':[101,102,103,104,105],'Names':['Ashray','Raj','Nitin','Amit','Ani']})

In [8]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RollNo  5 non-null      int64
 1   Names   5 non-null      object
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes

In [11]:
x.describe()

           RollNo
count    5.000000
mean   103.000000
std      1.581139
min    101.000000
25%    102.000000
50%    103.000000
75%    104.000000
max    105.000000

In [12]:
x

   RollNo   Names
0     101  Ashray
1     102     Raj
2     103   Nitin
3     104    Amit
4     105     Ani

In [25]:
x = pd.DataFrame([[1,2,3,4,5],[5,6,7,8,9]], index=[1,2] ,columns=['a','b','c','d','e'])

In [26]:
x

   a  b  c  d  e
1  1  2  3  4  5
2  5  6  7  8  9

In [27]:
x.describe()

              a         b         c         d         e
count  2.000000  2.000000  2.000000  2.000000  2.000000
mean   3.000000  4.000000  5.000000  6.000000  7.000000
std    2.828427  2.828427  2.828427  2.828427  2.828427
min    1.000000  2.000000  3.000000  4.000000  5.000000
25%    2.000000  3.000000  4.000000  5.000000  6.000000
50%    3.000000  4.000000  5.000000  6.000000  7.000000
75%    4.000000  5.000000  6.000000  7.000000  8.000000
max    5.000000  6.000000  7.000000  8.000000  9.000000

In [29]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 1 to 2
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       2 non-null      int64
 1   b       2 non-null      int64
 2   c       2 non-null      int64
 3   d       2 non-null      int64
 4   e       2 non-null      int64
dtypes: int64(5)
memory usage: 96.0 bytes